.person {
    width: 40%;
    padding: 16px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0 3px 4px #ccc;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid #999;
}

.input{
    background-color: rgb(241, 224, 240);
    box-shadow: 0 2px 3px #ccc;
    border-radius: 5px;
}
